.cont_detail {
  margin-top: 20px;
  border: 2px solid red;
  height: 220px;
  overflow: auto;
  display: flex;
}
.cont_text {
  background: #d1e3e02d;
    
   
    
  
  }
 .img{

  float:left;
 }

.text {
   background-color:#252d3b63; ;
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    overflow: hidden;
    font-weight: bold;
  }