.cont_text {
  background: #d1e3e02d;
    
   
    
  
  }

.text {
   background-color:#252d3b63; ;
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    overflow: hidden;
    font-weight: bold;
  }