body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    
  }
  .page{
  
  
  color: #0bffd6;
 
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  overflow: hidden;
  justify-items: left;
  
  
  font-weight: bold;
  }
  .container{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
  }
  
  .menu{
    padding: 7px;
    border-radius: 50px;
    width: auto;
    height: auto;
    display: flex ;
    justify-content: center;
    flex-wrap: wrap;
   margin-top: 20px;
   
  }
  .button {
    position: relative;
    padding: 0.5em 1em;
    outline: none;
    border: 1px solid #0bffd6;
    background: #02f8c32d;
    color: #0bffd6;
   
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
  }
  .searchbar{
    margin-right: 90px;
    float: right;
  }
  
 
  
  
  @media screen and (max-width:1000px) {
    
    .nav {
      width: 75%;
    }
    .paginated{
      display: flex;
      justify-content: center;
      width: 80%;
      height: 100%;
    }
    .menu{
      height: auto;
      width: 100%;
    }
    .dogs{
      width: 400px;
    }
   
  }
  
 