@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Rampart+One&display=swap");

.container {
 

  display:flex ;
  
}







.cont_btn {
  margin-top: 20px;
  width: 640px;
  justify-content: space-between;
 
  

}

.button {
  position: relative;
  padding: 0.5em 1em;
  outline: none;
  border: 1px solid #0bffd6;
  background-color: #1f6456b7;
  color: #0bffd6;
 
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}
.NavLink {
  color: #0bffd6;
}
.button:hover {
  box-shadow: 0 0 10px #0bffd6, 0 0 25px #22ddbe, 0 0 50px #4eecd2;
  transition-delay: 0.1s;
}

.button .span {
  position: absolute;
}

.button .span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #0bffd6);
}

.button:hover .span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

.button .span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #3ff0d2);
}

.button:hover .span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

.button .span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #25f0ce);
}

.button:hover .span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

.button .span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #29e2c3);
}

.button:hover .span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}





@media(max-width:1200px){
  .container {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
  }
  .cont_btn {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: left;
  }
}

@media screen and (max-width: 700px) {
  .cont_btn {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
  }
}