.container_card{

    display: list-item;
}
.cont_img {

    width: 100%;
  height: 100%;
  overflow: hidden;
}
.image{
    width: 100%;
    height: 100%;
    
    }
    .cont_text {
        width: 100%;
        height: 100%;
       
        
      
      }
    .text {
        position: relative;
        padding: 0.5em 1em;
        background: #02f8c32d;
        color: #bad7d6;
       
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 15px;
        overflow: hidden;
        
       
        
        font-weight: bold;
      }